<ul class="topic-list">
    @for (topic of items(); track topic.id) {
        <li
            class="topic-list__item"
            data-testid="topic-item"
        >
            <div class="topic-list__title-row">
                @if (topic.pinned) {
                    <ui-icon
                        class="topic-list__pin"
                        data-testid="topic-pinned"
                        name="push_pin"
                        size="small"
                        tooltip="Закреплённая тема"
                    />
                }
                <a
                    class="topic-list__title"
                    data-testid="topic-title"
                    [routerLink]="topicLink(topic.id)"
                >
                    {{ topic.title }}
                </a>
                <span
                    class="topic-list__replies"
                    data-testid="topic-replies"
                    [attr.aria-label]="'Ответов: ' + topic.repliesCount"
                >
                    {{ topic.repliesCount }}
                </span>
            </div>
            <div class="topic-list__meta">
                <span data-testid="topic-author">{{ topic.author }}</span>
                @if (topic.article; as article) {
                    <span>
                        к статье
                        <a
                            data-testid="topic-article"
                            [routerLink]="['/articles', article.id]"
                        >
                            {{ article.title }}
                        </a>
                    </span>
                }
            </div>
            @if (topic.lastPostAt) {
                <div class="topic-list__meta">
                    @if (topic.lastPostId; as lastPostId) {
                        <a
                            class="topic-list__last-post"
                            data-testid="topic-last-post"
                            [routerLink]="lastPostLink(topic.id, lastPostId)"
                        >
                            {{ topic.lastPostAt | formatDate }}
                        </a>
                    } @else {
                        <span data-testid="topic-last-post">{{ topic.lastPostAt | formatDate }}</span>
                    }
                    @if (topic.lastAuthor; as lastAuthor) {
                        <span data-testid="topic-last-author">{{ lastAuthor }}</span>
                    }
                </div>
            }
        </li>
    }
</ul>
