<ng-container *ngIf="editorConfig$ | async as editorConfig; else skeleton">
    <div
        *ngIf="editorConfig.content !== null; else skeleton"
        class="container">
        <div class="content">
            <lib-editor
                [content]="editorConfig.content"
                [linksStatus]="(updateLinksState$ | async) ?? {}"
                [insertTagCommand]="insertTagCommand$ | async"
                (updateLinksEvent)="updateLinks($event)"
                (contentChanged)="contentChanged($event)"></lib-editor>
        </div>
    </div>
</ng-container>

<ng-template #skeleton>
    <div class="skeleton-textarea"></div>
</ng-template>
