@if (error()) {
    <app-error
        title="Ошибка"
        [message]="error()"
    />
} @else {
    <app-sidebar-action
        icon="save"
        label="Сохранить"
        priority="primary"
        [disabled]="isSaving()"
        (activated)="save()"
    />
    <app-sidebar-action
        icon="close"
        label="Отмена"
        priority="secondary"
        [disabled]="isSaving()"
        (activated)="cancel()"
    />

    <div class="article-edit">
        <div class="editor-container">
            <lib-editor
                [content]="editorContent()"
                [linksStatus]="updateLinksState()"
                (updateLinksEvent)="updateLinks($event)"
                (contentChanged)="contentChanged($event)"
            />
        </div>
    </div>
}
