<app-sidebar-action
    icon="toc"
    label="Содержание"
    priority="secondary"
    (activated)="openTableOfContents()"
/>

@if (editUrl(); as url) {
    <app-sidebar-action
        icon="edit"
        label="Редактировать"
        priority="primary"
        [link]="url"
    />
}

@if (articleId(); as id) {
    @if (topics(); as t) {
        <app-topics-sidebar-action
            [articleId]="id"
            [topics]="t"
            (topicsChanged)="topicsChanged.emit($event)"
        />
    }
}

@if (version(); as v) {
    <app-moderation-sidebar-action
        [version]="v"
        (moderated)="moderated.emit($event)"
    />
}
