module.exports = {
  apps: [{
    name: "{{ frontend_app_name }}",
    script: "serve",
    args: "-s {{ frontend_app_dir }} -p {{ frontend_app_port }}",
    env: {
      NODE_ENV: "production",
      PATH: "/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin",
      PORT: "{{ frontend_app_port }}"
    },
    instances: 1,
    exec_mode: "fork",
    watch: false,
    max_memory_restart: "{{ frontend_pm2_max_memory_restart | default('1G') }}",
    error_file: "{{ frontend_log_dir }}/error.log",
    out_file: "{{ frontend_log_dir }}/output.log",
    log_date_format: "YYYY-MM-DD HH:mm:ss",
    merge_logs: true,
    time: true
  }]
} 