[Unit]
Description=PM2 process manager for {{ frontend_app_name }}
After=network.target

[Service]
Type=forking
User={{ frontend_app_user }}
Group={{ frontend_app_group }}
WorkingDirectory={{ frontend_app_dir }}
ExecStart=/usr/bin/pm2 start ecosystem.config.js
ExecReload=/usr/bin/pm2 reload {{ frontend_app_name }}
ExecStop=/usr/bin/pm2 stop {{ frontend_app_name }}
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 