@if (article$ | async; as article) {
    <div class="container">
        <div class="content">
            <lib-editor
                [article]="article"
                [linksStatus]="(updateLinksState$ | async) ?? {}"
                (updateLinksEvent)="updateLinks($event)"
                (contentChanged)="contentChanged($event)"></lib-editor>
        </div>
        <div class="buttons">
            <button (click)="saveArticle()">Сохранить</button>
        </div>
    </div>
} @else {
    Загрузка...
}
