<div
    class="history-item"
    [ngClass]="'history-item--' + approvalClass()">
    <div class="left-col">
        @if (item().isNew) {
            <ui-icon-button
                label="Новая редакция"
                [disabled]="true"
                icon="note_add" />
        } @else {
            <ui-icon-button
                label="Просмотр изменений"
                icon="difference" />
        }
    </div>
    <div class="content-col">
        <div class="title-row">
            <span
                class="status-icon"
                [ngClass]="'status-icon--' + approvalClass()"
                [title]="statusTitle()">
                <ui-icon
                    [name]="statusIcon()"
                    [tooltip]="statusTitle()"
                    size="small" />
            </span>
            <a
                class="title text-link"
                [routerLink]="['/articles', item().articleId]">
                {{ item().title }}
            </a>
        </div>
        <div class="meta-row">
            <span class="time">{{ item().date | formatTime }}</span>
            ·
            <span class="author">{{ item().author }}</span>
            @if (item().info) {
                <span class="author-comment">{{ item().info }}</span>
            }
        </div>
        @if (item().comment) {
            <div class="moderator-comment">{{ item().comment }}</div>
        }
    </div>
</div>
