@use 'tokens' as *;

app-wiki-content {
    display: block;
    line-height: 1.6;

    scroll-behavior: smooth;

    .link-note,
    .link-source {
        color: var(--themed-wiki-note-link);
    }

    .external {
        color: var(--themed-wiki-external-link);
    }

    .existlink {
        color: var(--themed-wiki-existlink);
    }

    .newlink {
        color: var(--themed-wiki-newlink);
    }

    .BibleRus,
    .BibleCsl {
        background-color: var(--themed-wiki-bible-bg);
        padding: 5px;
        vertical-align: top;
    }

    .verse {
        color: var(--themed-wiki-verse);
    }

    a {
        color: var(--themed-link-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .pic {
        float: right;
        clear: right;
        margin: 5px 0 5px 10px;
        padding: 5px;
        border: 0;
        background-color: var(--themed-wiki-image-bg);
        width: min-content;

        img {
            display: block;
            margin-inline: auto;
            max-width: 250px;
        }

        figcaption,
        .picdesc {
            text-align: center;
        }
    }
}
