@use 'index' as *;

:host {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.header-brand {
    display: flex;
    align-items: center;
    gap: $brand-gap;
}

.brand-title {
    font-size: $brand-font-size;
    font-weight: 500;
    color: var(--themed-text-primary);
    user-select: none;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: $header-actions-gap;
}
