@if (isLoading()) {
    <ui-icon-button
        icon="account_circle"
        label="Загрузка..."
        [disabled]="true"
    />
} @else {
    <ui-icon-button
        icon="account_circle"
        label="Аккаунт"
        data-testid="account-button"
        [uiDropdownMenuTriggerFor]="menuContent"
    />

    <ng-template #menuContent>
        <ui-dropdown-menu>
            @if (isAuthenticated()) {
                <div class="dropdown-header">
                    <span
                        class="dropdown-header-title"
                        data-testid="user-name"
                    >
                        {{ displayName() }}
                    </span>
                    <span
                        class="dropdown-header-subtitle"
                        data-testid="user-role"
                    >
                        {{ roleLabel() }}
                    </span>
                </div>
                <hr class="dropdown-divider" />
                <ui-dropdown-menu-item
                    icon="download"
                    data-testid="download-logs-button"
                    (clicked)="downloadLogs()"
                >
                    Скачать логи
                </ui-dropdown-menu-item>
                <ui-dropdown-menu-item
                    icon="logout"
                    data-testid="logout-button"
                    [disabled]="isLoggingOut()"
                    (clicked)="logout()"
                >
                    Выйти
                </ui-dropdown-menu-item>
            } @else {
                <ui-dropdown-menu-item
                    icon="login"
                    (clicked)="navigateToLogin()"
                >
                    Войти
                </ui-dropdown-menu-item>
            }
        </ui-dropdown-menu>
    </ng-template>
}
