:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.cm-diff-view-editor {
    flex: 1;
    overflow: auto;
}

// CodeMirror overrides
:host ::ng-deep {
    .cm-editor {
        height: 100%;
    }

    .cm-mergeView {
        height: 100%;
    }

    .cm-scroller {
        overflow: auto;
    }

    .cm-merge-revert {
        display: none;
    }
}
