<div class="diff-view">
    <ui-sidebar-action
        [icon]="collapsed() ? 'unfold_more' : 'unfold_less'"
        [label]="collapsed() ? 'Развернуть все строки' : 'Свернуть неизменённые'"
        (activated)="toggleCollapsed()"
    />

    <div class="diff-view-toolbar">
        <div class="diff-view-engine-selector">
            <ui-icon-button
                icon="tune"
                [label]="selectedEngine().label"
                [uiDropdownMenuTriggerFor]="engineMenu"
            />

            <ng-template #engineMenu>
                <ui-dropdown-menu>
                    @for (engine of engines; track engine.id) {
                        <ui-dropdown-menu-item
                            [icon]="engine.id === selectedEngine().id ? 'check' : ''"
                            (clicked)="onEngineChange(engine)"
                        >
                            {{ engine.label }}
                        </ui-dropdown-menu-item>
                    }
                </ui-dropdown-menu>
            </ng-template>
        </div>
    </div>

    <div class="diff-view-body">
        <pre
            class="diff-content"
            [innerHTML]="diffHtml()"
        ></pre>
    </div>
</div>
