<ui-sidebar-action
    [icon]="viewMode() === 'unified' ? 'view_column_2' : 'view_agenda'"
    [label]="viewMode() === 'unified' ? 'Переключить на side-by-side' : 'Переключить на unified'"
    (activated)="toggleViewMode()"
/>
<ui-sidebar-action
    icon="arrow_upward"
    label="Предыдущее изменение"
    priority="secondary"
    (activated)="goToPrevious()"
/>
<ui-sidebar-action
    icon="arrow_downward"
    label="Следующее изменение"
    (activated)="goToNext()"
/>

<div
    class="cm-diff-view-editor"
    #editorContainer
></div>
