@if (isLoading()) {
    <div class="loading-container">
        <ui-spinner [diameter]="36" />
    </div>
} @else if (error()) {
    <p class="error-text">{{ error() }}</p>
} @else if (version(); as version) {
    <app-article-sidebar-actions
        [version]="version"
        [editUrl]="versionEditUrl()"
        [articleId]="version.articleId"
        [topics]="version.topics"
        (moderated)="onModerated($event)"
        (topicsChanged)="onTopicsChanged($event)"
    />
    <ui-banner data-testid="version-banner">
        <div class="banner-header">
            {{ version.author }}
            <ui-status-icon [status]="version.approved" />
            <span>Версия статьи от {{ version.date | formatDate }}</span>
        </div>
        @if (version.info) {
            <div class="banner-meta">
                {{ version.info }}
            </div>
        }
        @if (articleUrl(); as url) {
            <a [routerLink]="url">Перейти к текущей версии статьи</a>
        }
    </ui-banner>
    <app-article-content
        class="article-content"
        [content]="version.content"
    />
}
