@use 'tokens' as *;

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: $content-padding;
}

.preview-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
