<div
    class="topic-panes"
    [class.topic-panes--topic-open]="withPanel() && hasOpenTopic()"
    [class.topic-panes--single]="!withPanel()"
    data-testid="forum-panes"
>
    <div
        #list
        class="topic-panes__list"
        data-testid="forum-panes-list"
    >
        @if (withPanel() && newTopicLink(); as link) {
            <div class="topic-panes__toolbar">
                <ui-button
                    variant="text"
                    accent="primary"
                    testId="forum-new-topic"
                    [link]="link"
                >
                    <ui-icon
                        name="add"
                        size="small"
                    />
                    Новая тема
                </ui-button>
                <ng-content select="[panesToolbarEnd]" />
            </div>
        }
        <div class="topic-panes__list-body">
            <ng-content />
        </div>
    </div>

    @if (withPanel()) {
        <div
            class="topic-panes__handle"
            data-testid="forum-panes-handle"
            storageKey="drevo-forum-list-width"
            [uiResizeHandle]="list"
        ></div>
        <div
            class="topic-panes__panel"
            data-testid="forum-panes-panel"
        >
            <router-outlet />
            @if (!hasOpenTopic()) {
                <app-topic-placeholder [description]="description()" />
            }
        </div>
    }
</div>
