<div
    class="topic-panes"
    [class.topic-panes--topic-open]="withPanel() && hasOpenTopic()"
    [class.topic-panes--single]="!withPanel()"
    data-testid="forum-panes"
>
    <div
        #list
        class="topic-panes__list"
        uiScrollbar
        data-testid="forum-panes-list"
    >
        <ng-content />
    </div>

    @if (withPanel()) {
        <div
            class="topic-panes__handle"
            data-testid="forum-panes-handle"
            storageKey="drevo-forum-list-width"
            [uiResizeHandle]="list"
        ></div>
        <div class="topic-panes__panel">
            <router-outlet />
            @if (!hasOpenTopic()) {
                <app-topic-placeholder [description]="description()" />
            }
        </div>
    }
</div>
