<div class="layout">
    <header class="header">
        <app-header></app-header>
    </header>

    <aside
        class="left"
        aria-label="Primary sidebar">
        <div class="left-content">
            <app-sidebar-nav />
        </div>
        <app-version-display />
    </aside>

    <main
        class="main"
        id="content">
        <ng-content></ng-content>
    </main>

    <aside
        class="right"
        [class.has-actions]="hasActions()"
        aria-label="Secondary sidebar">
        <ui-right-sidebar />
    </aside>
</div>
